<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/studentEdit.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/javascript" src="/js/studentEdit.js">
    <title>Document</title>
</head>

<body style="background-image: url(/img/background2.png); font-family: 'Kanit', sans-serif;">

    <nav class="navbar navbar-expand-md navbar-dark fixed-top" id="banner"
        style="background-color: #1B1B1B;height:60px">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand" href="/student/mainStudent"><img src="/img/icon.png" style="height:50px"></a>

            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-calendar"></i> &nbsp; <%= semester %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-user" id="userName"></i> &nbsp;
                            <%= username %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/"><i class="fas fa-sign-out-alt"></i> &nbsp; log out</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <!-- <div class="banner">
        <div class="container">
            <div class="banner-text">


            </div>
        </div>
    </div> -->
    <section style="margin-top:10%">


        <br>


        <!---------------------------- form ------------------------------>

        <div class="container" style="background-color: rgb(0, 0, 0,0.6) ; color: #FF9900; border-radius: 20px">
            <div style="display:none">
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="id">รหัสประจำตัว</label>
                        <input type="text" class="form-control" id="id" placeholder="Code" required name="id">
                    </div>

                    <div class="col-md-4 mb-3">
                        <label for="firstname">ชื่อ</label>
                        <input type="text" class="form-control" id="firstname" placeholder="Firstname" required
                            name="firstname">
                    </div>

                    <div class="col-md-4 mb-3">
                        <label for="lastname">นามสกุล</label>
                        <input type="text" class="form-control" id="lastname" placeholder="Lastname" required
                            name="lastname">
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="faculty">คณะ</label>
                        <input type="text" class="form-control" id="faculty" placeholder="Faculty" required
                            name="faculty">
                    </div>

                    <div class="col-md-4 mb-3">
                        <label for="branch">สาขา</label>
                        <input type="text" class="form-control" id="branch" placeholder="Branch" required name="branch">
                    </div>

                    <div class="col-md-4 mb-3">
                        <label for="branch">ชั้นปี</label>
                        <input type="text" class="form-control" id="year" placeholder="Year" required name="year">
                    </div>
                </div>
            </div>
            <br>
            <div class="form-row justify-content-center">
                <div class="col-md-11 mb-2 ">
                    <label style="font-size:40px; margin-right:5%" for="id">รายชื่อนิสิตวิชา</label>
                    <label style="font-size:40px; margin-right:5%" for="id"><%= subjectId %> <%= subjectName %></label>
                    <br>
                    <label style="font-size:40px; margin-right:5%" for="id">ห้องสอบ</label>
                    <label style="font-size:40px;" for="id"><%= room.name %></label>
                    <br>
                    <label style="font-size:40px; margin-right:5%" for="id">วันที่สอบ</label>
                    <label style="font-size:40px;" for="id"><%= data2.date %></label>
                    <br>
                    <label style="font-size:40px; margin-right:5%" for="id">เวลาสอบ</label>
                    <label style="font-size:40px; margin-right:5%" for="id"><%= data2.start %> -
                        <%= data2.end %></label>
                </div>

            </div>

            <br />



            <button class="btn btn-info add-new" style="background-color: #FF9900 ; border: #FF9900 ; float:right"
                onclick="window.location.href='/student/studentExamTable'">
                <i class="fa fa-user-circle"></i>
                Look Chair
            </button>
            <br> <br>

            <!-------------------- table ---------------------->

            <table class="table table-hover" style="background-color:white">
                <thead>
                    <tr>
                        <th scope="col">เลขที่นั่ง</th>
                        <th scope="col">รหัสประจำตัว</th>
                        <th scope="col">ชื่อ - นามสกุล</th>
                        <th scope="col">คณะ</th>
                        <th scope="col">สาขา</th>
                        <th scope="col">ชั้นปี</th>

                    </tr>
                </thead>
                <tbody>
                    <% for(let i=0; i < data.length; i++) {%>
                    <tr>
                        <%if(i == 0){%>
                        <th scope="row">A1 </th>
                        <% }else if(i == 1){%>
                        <th scope="row">B1</th>
                        <% }else if(i == 2){%>
                        <th scope="row">C1</th>
                        <% }else if(i == 3){%>
                        <th scope="row">D1</th>
                        <% }else if(i == 4){%>
                        <th scope="row">E1</th>
                        <% }else if(i == 5){%>
                        <th scope="row">F1</th>
                        <% }else if(i == 6){%>
                        <th scope="row">G1</th>
                        <% }else if(i == 7){%>
                        <th scope="row">A2</th>
                        <% }else if(i == 8) {%>
                        <th scope="row">B2</th>
                        <% }else if(i == 9){%>
                        <th scope="row">C2</th>
                        <% }else if(i == 10){%>
                        <th scope="row">D2</th>
                        <% }else if(i == 11){%>
                        <th scope="row">E2</th>
                        <% }else if(i == 12){%>
                        <th scope="row">F2</th>
                        <% }else if(i == 13){%>
                        <th scope="row">G2/th>
                        <% }else if(i == 14){%>
                        <th scope="row">A3</th>
                        <% }else if(i == 15) {%>
                        <th scope="row">B3</th>
                        <% }else if(i == 16){%>
                        <th scope="row">C3</th>
                        <% }else if(i == 17){%>
                        <th scope="row">D3</th>
                        <% }else if(i == 18){%>
                        <th scope="row">E3</th>
                        <% }else if(i == 19){%>
                        <th scope="row">F3</th>
                        <% }else if(i == 20){%>
                        <th scope="row">G3</th>
                        <% }else if(i == 21){%>
                        <th scope="row">A4</th>
                        <% }else if(i == 22) {%>
                        <th scope="row">B4</th>
                        <% }else if(i == 23){%>
                        <th scope="row">C4</th>
                        <% }else if(i == 24){%>
                        <th scope="row">D4</th>
                        <% }else if(i == 25){%>
                        <th scope="row">E4</th>
                        <% }else if(i == 26){%>
                        <th scope="row">F4</th>
                        <% }else if(i == 27){%>
                        <th scope="row">G4</th>
                        <% }else if(i == 28){%>
                        <th scope="row">A5</th>
                        <% }else if(i == 29) {%>
                        <th scope="row">B5</th>
                        <% }else if(i == 30){%>
                        <th scope="row">C5</th>
                        <% }else if(i == 31){%>
                        <th scope="row">D5</th>
                        <% }else if(i == 32){%>
                        <th scope="row">E5</th>
                        <% }else if(i == 33){%>
                        <th scope="row">F5</th>
                        <% }else if(i == 34){%>
                        <th scope="row">G5</th>
                        <% }%>
                        <td><%= data[i].user_id %></td>
                        <td><%= data[i].firstname %> <%= data[i].lastname %></td>
                        <td><%= data[i].faculty %></td>
                        <td><%= data[i].branch %></td>
                        <td><%= data[i].year %></td>

                        <div style="display:none">
                            <input type="text" name="id" value="<%= data[i].user_id %>"></input>
                            <input type="text" name="firstname" value="<%= data[i].firstname %>"></input>
                            <input type="text" name="lastname" value="<%= data[i].lastname %>"></input>
                            <input type="text" name="faculty" value="<%= data[i].faculty %>"></input>
                            <input type="text" name="branch" value="<%= data[i].branch %>"></input>
                            <input type="text" name="year" value="<%= data[i].year %>"></input>
                        </div>

                    </tr>
                    <% } %>
                </tbody>
            </table>



            <br>


            <!-- add button -->



        </div>

        <br>
        </div> <!-- /container -->



    </section>


    <!-- navbar -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">

            <div id="sidebar-wrapper" class="sidebar-toggle">

                <div class="left">
                    <!-- <div class="item active">
                        <i class="fas fa-fw fa-user-circle"></i> ข้อมูลนิสิต
                    </div> -->

                    <!-- <a href="/studentEdit" style="text-decoration: none"><div class="item">
                            <i class="fas fa-user-graduate"></i> จัดการนิสิต
                    </div></a> -->
                    <a href="/student/studentSubject" style="text-decoration: none">
                        <div class="item">
                            <i class="fas fa-sticky-note"></i> รายวิชา
                        </div>
                    </a>
                    <!-- <a href="/buildingEdit" style="text-decoration: none"><div class="item">
                        <i class="fas fa-building"></i> จัดการตึก
                    </div></a> -->


                    <!-- <div class="item">
                            <i class="fas fa-print"></i> พิมพ์ใบเช็คชื่อ
                    </div>
                    <div class="item">
                            <i class="fas fa-user-check"></i> เช็คชื่อนิสิต
                    </div> -->
                </div>
            </div>
        </div>
    </nav>




</body>

</html>

<style>
    .right {
        top: 50%;
        float: left;
        transform: translateY(125%);
    }

    .left {
        background: #1B1B1B;
        display: inline-block;
        white-space: nowrap;
        width: 50px;
        transition: width .5s;
    }

    .right {
        background: #fff;
        width: 350px;
        transition: width 1s;
        border-style: solid;
        border-color: #ccc;
        border-width: 1px;
    }

    .left:hover {
        width: 250px;
    }

    .item:hover {
        background-color: #FF9900;
        color: white
    }

    .left .fas {
        margin: 15px;
        width: 20px;
    }

    .left .fas:hover {
        color: white;
    }

    i.fas {
        font-size: 17px;
        vertical-align: middle !important;
    }

    .item {
        height: 50px;
        overflow: hidden;
        color: #FF9900;
    }
</style>




<script src="/jquery/dist/jquery.slim.min.js"></script>
<script src="/popper.js/dist/popper.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
    function del(id) {
        console.log(id)
        window.location.href = "/courseEdit/deleteStudent/" + id;
    }

    function upd(id) {
        console.log(id)
        // window.location.href ="/instructorEdit/update/" +id;
    }

    function add() {
        window.location.href = "/courseEdit/addStudentEdit";
    }

    if ("<%= status %>" == 1) {
        swal("Oops", "<%= message %>", "error").then(() => window.location.href = "/studentEdit")
        message = "";
        status = 0;
        // window.location.href = "/studentEdit"

    } else if ("<%= status %>" == 2) {
        swal("Success", "<%= message %>", "success").then(() => window.location.href = "/studentEdit")
        message = "";
        status = 0;
        // window.location.href = "/studentEdit"
    }

    function showDetail(id, firstname, lastname, faculty, branch, year) {
        document.getElementById("id").value = id;
        document.getElementById("firstname").value = firstname;
        document.getElementById("lastname").value = lastname;
        document.getElementById("faculty").value = faculty;
        document.getElementById("branch").value = branch;
        document.getElementById("year").value = year;
    }

</script>